/* global styles */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 100%;
  background-color: #ddd;
  color: #666;
}
a, a:hover {
  outline: 0 !important;
  text-decoration: none !important;
}

/* to allow browser's address bar to hide on mobiles...
body { min-height: 640px; }  
body[orient="portrait"] { min-height: 640px; }
body[orient="landscape"] { min-height: 360px; }
*/

.container {
  margin: auto;
}
.disable-select {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
   -khtml-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.footer {
  font-size: 80%;
  text-align: right;
  padding-top: 0.2em;
  color: #555;
  border-top: 1px solid #ccc;
}
.url {
  font-size: 90%;
}
.nav-pic-user {
  max-height: 28px;
}
.list-inline-left {
  margin-top: -0.5em;
  float: left;
  padding-left: 1.0em;
}
.list-inline-right {
  margin-top: -0.5em;
  float: right;
  padding-right: 1.0em;
}
.nav-alignleft { /* TODO: rename these (for formLabel on nav and login...) */
  float: left;
  padding-left: 1.0em;
  margin-bottom: 0.5em;
}
.nav-alignright {
  float: right;
  padding-right: 1.0em;
  margin-bottom: 0.5em;
}
.alignclearboth {
  clear: both;
}
.breadcrumb {
  color: #888;
  padding-top: 1px;
  padding-bottom: 1px;
  font-style: italic;
}
.centered {
  text-align: center;
}

/* profile page */
.img-profile {
  width: 100%;
  max-width: 100px;
          border-radius: 100px;
     -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
.name {
  font-weight: bolder;
  font-size: 1.5em;
}
.nav-tabs {
  margin-top: 30px;
}
.auth-forms {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 1px 25px 25px 25px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
          border-radius: 10px;
     -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.item-form {
  margin-top: 30px;
}
.item {
  margin-top: 0em;
  padding: 0.5em;
  border-top: 1px solid #eee;
}
.item .owner {
  font-size: 11px;
  color: #bbb;
}

/* columns of same height styles */
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}
.row-xs-height {
  display: table-row;
}
.col-xs-height {
  display: table-cell;
  float: none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-sm-height {
    display: table-row;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

.text-danger {
  font-size: 80%;
  padding-bottom: 0.3em;
}

/* divider-vertical */
.navbar .divider-vertical {
  height: 40px;
  margin: 5px 5px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #bbbbbb;
}

.navbar-inverse .divider-vertical {
  border-right-color: #333333;
  border-left-color: #111111;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    /* display: none; */
    height: 2px;
    width: 95%;
    margin: 5px 15px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #bbbbbb;
    border-bottom-color: #333333; /* enable only for .navbar-inverse */
    border-top-color: #111111; /* enable only for .navbar-inverse */
  }
}

/* icons in inputs */
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  margin: 0 1.0em;
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

.form-group-condensed {
  margin: 0.2em;
}

.table .condensed {
  margin: 0;
  padding: 0.1em;
  padding-left: 0.7em;
  p_adding-right: 1.0em;
  b_ackground-color: #e3e3e3;
}

/* browse happy */
.browsehappy {
  text-align: center;
  margin-top: 1.0em;
  color: darkred;
}

/* search form */
.form-control-search {
          border-radius: 16px;
     -moz-border-radius: 16px;
   -khtml-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.row {
  margin: 0.4em 0;
}
/*
input.search-query {
    padding-left:26px;
}
form.form-search {
    position: relative;
}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
*/

.form-label {
  text-align: center;
  font-size: 1.5em;
}

/* TODO: why this doesn't work ???
.form-auth {
  margin-top: 1.5em;
}
*/

.error-container {
  padding-top: 0; /* 0.2em; */
}
.error {
  border: 1px solid #c8c8c8;
          border-radius: 4px;
     -moz-border-radius: 4px;
   -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 0 0.5em;
  margin: 0 0.2em;
  background-color: #d0d0d8;
  color: darkred;
}

.login-error {
  font-size: 75%;
  color: darkred;
}
.login-info {
  font-size: 75%;
  color: darkgreen;
}

.checkmark {
  margin-top: 10px;
}

.checkmark-ok {
  color: green;
}

.checkmark-error {
  color: darkred;
}

.scrollable {
  overflow: auto;
}

/* service report print */
.print-report {
  margin: 0;
  padding: 0;
  width: 545pt; /* 595pt; /* A4 width in points */
  height: 842pt; /* A4 height in points */
  font-size: 9pt;
  border: 1px solid #ccc;
          border-radius: 12px;
     -moz-border-radius: 12px;
   -khtml-border-radius: 12px;
  -webkit-border-radius: 12px;
}
.print-report label {
  text-align: right;
  padding-right: 0.5em;
  font-style: normal;
}
.print-report input, textarea {
          border-radius: 4px;
     -moz-border-radius: 4px;
   -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 100%;
}
.print-row {
  margin-bottom: 1.5em;
}

/* media query classes */

/*
/* custom, iPhone Retina * /
@media only screen and (min-width: 320px) {
  .custom-hide { display: none; }
  .phone-hide       { display: none; }
  .tablet-hide      { display: none; }
  .desktop-hide     { display: none; }
  .wide-hide        { display: none; }
}

/* extra small devices, phones * /
@media only screen and (min-width: 480px) {
  .phone-hide       { display: none; }
  .tablet-hide      { display: none; }
  .desktop-hide     { display: none; }
  .wide-hide        { display: none; }
}

/* small devices, tablets * /
@media only screen and (min-width: 768px) {
  .tablet-hide      { display: none; }
  .desktop-hide     { display: none; }
  .wide-hide        { display: none; }
}

/* medium devices, desktops * /
@media only screen and (min-width: 992px) {
  .desktop-hide     { display: none; }
  .wide-hide        { display: none; }
}

/* large devices, wide screens * /
@media only screen and (min-width: 1200px) {
  .wide-hide        { display: none; }
}
*/


/* large devices, wide screens */
@media only screen and (max-width: 1200px) {
  html, body    { font-size: 97%; }
  .wide-hide    { display: none; }
}

/* medium devices, desktops */
@media only screen and (max-width: 992px) {
  html, body    { font-size: 94%; }
  .desktop-hide { display: none; }
}

/* small devices, tablets */
@media only screen and (max-width: 768px) {
  html, body    { font-size: 91%; }
  .tablet-hide  { display: none; }
}

/* extra small devices, phones */ 
@media only screen and (max-width: 480px) {
  html, body    { font-size: 88%; }
  .phone-hide   { display: none; }
}

/* custom, iPhone Retina */ 
@media only screen and (max-width: 320px) {
  html, body    { font-size: 82%; }
  .custom-hide  { display: none; }
}


/* print */
@media print {    
  .no-print, .no-print * {
    display: none !important;
  }
}