<div class="container customers-page">

  <div ng-show="signedIn() && hasRole(CFG.ROLES.EDIT_CUSTOMERS)" ng-controller="CustomersCtrl">

    <form class="form-horizontal" ng-hide="printMode || addMode || editMode">
      <div class="form-group" style="margin-bottom: 0;">
        <div class="row">
          <div class="col-xs-3" title="Add new customer">
            <button type="submit" class="btn btn-primary" ng-show="!(addMode || editMode)" ng-click="addCustomer()">
              <i class="glyphicon glyphicon-plus"></i>&nbsp;New customer
            </button>
          </div>
          <div class="col-xs-4">
          </div>
          <div class="col-xs-5" title="Filter customers">
            <div class="right-inner-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" ng-model="search" class="form-control form-control-search" s_tyle="min-width: 8.0em;">
            </div>
          </div>  
        </div>
      </div>
    </form>

    <div ng-hide="printMode || addMode || editMode" class="scrollable" spring="footer">
      <table ng-table="tableParams" class="table">
        <tr>
          <th>
            <span ng-click="orderby = '-name'">Name</span>
            <a ng-click="orderby = 'name'"><small><i ng-show="orderby === '-name'" class="glyphicon glyphicon-chevron-up"></i></small></a>
            <a ng-click="orderby = '-name'"><small><i ng-show="orderby === 'name'" class="glyphicon glyphicon-chevron-down"></i></small></a>
          </th>
          <th class="tablet-hide">
            P.IVA
          </th>
          <th>
            Phone
          </th>
          <th class="phone-hide">
            Email
          </th>
          <th class="wide-hide">
            Address
          </th>
          <th>
            <!-- command buttons -->
          </th>
        </tr>
        <tr ng-repeat="customer in customers | orderByPriority | filter:search | orderBy: orderby" ng-if="!customer.hasOwnProperty('deleted')">
          <td title="Customer name" sortable="'name'" class="condensed">
            {{ customer.name }}
          </td>
          <td title="P.IVA" sortable="'cfpiva'" class="condensed tablet-hide">
            {{ customer.cfpiva }}
          </td>
          <td title="Phone" sortable="'phone'" class="condensed">
            {{ customer.phone }}
          </td>
          <td title="Email" sortable="'email'" class="condensed phone-hide">
            {{ customer.email }}
          </td>
          <td title="Address" sortable="'address'" class="condensed wide-hide">
            {{ customer.address }}
          </td>
          <td class="condensed">
            <button
              title="Edit customer"
              class="btn btn-primary btn-xs glyphicon glyphicon-pencil"
              ng-click="editCustomer(customer)"
            ></button>
            <button
              title="Print customer"
              class="btn btn-primary btn-xs glyphicon glyphicon-print"
              ng-click="preprintCustomer(customer)"
            ></button>
            <button
              title="Delete customer" 
              class="btn btn-primary btn-xs glyphicon glyphicon-trash"
              really-message="Are you really sure to remove customer <i>{{customer.name}}</i> ?" really-click="deleteCustomer(customer)"
            ></button>
          </td>
        </tr>
      </table>  
    </div>

    <form name="formAddEdit" ng-show="addMode || editMode" novalidate class="customer form-horizontal">
      <div class="row" title="Customer name">
        <div class="col-xs-6 col-sm-2 col-lg-2">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" name="name" class="form-control" ng-model="customer.name" placeholder="Name" auto-focus="addMode || editMode" autocomplete="off" required check-customer-name customer-id="{{customer.$id}}" key-escape="cancelCustomer()" />
          </div>
        </div>
        <div class="col-xs-1 small" ng-show="formAddEdit.name.$valid">
          <span class="glyphicon glyphicon-ok checkmark checkmark-ok"></span>
        </div>
        <div class="error-container" ng-show="formAddEdit.name.$invalid && formAddEditSubmitted">
          <small class="error" ng-show="formAddEdit.name.$error.required">
            A customer name is required
          </small>
          <small class="error" ng-show="formAddEdit.name.$error.invalid">
            Customer name is not valid
          </small>
          <small class="error" ng-show="formAddEdit.name.$error.taken">
            This customer name is already present
          </small>
        </div>
      </div>
      <div class="row" title="Codice Fiscale or P.IVA of the customer">
        <div class="col-xs-9 col-sm-4 col-lg-3">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
            <input type="text" name="cfpiva" class="form-control" ng-model="customer.cfpiva" placeholder="Codice Fiscale / P.IVA" autocomplete="off" required check-cf-or-piva key-escape="cancelCustomer()" />
          </div>
        </div>
        <div class="col-xs-1 small" ng-show="formAddEdit.cfpiva.$valid">
          <span class="glyphicon glyphicon-ok checkmark checkmark-ok"></span>
        </div>
        <div class="error-container" ng-show="formAddEdit.cfpiva.$invalid && formAddEditSubmitted">
          <small class="error" ng-show="formAddEdit.cfpiva.$error.required || formAddEdit.cfpiva.$error.norCfNorPiva">
            A Codice Fiscale or a P.IVA is required
          </small>
          <small class="error" ng-show="formAddEdit.cfpiva.$error.cfinvalidchar">
            Codice Fiscale contains invalid character(s)
          </small>
          <small class="error" ng-show="formAddEdit.cfpiva.$error.cfcrcwrong">
            Codice Fiscale control code doesn't match
          </small>
          <small class="error" ng-show="formAddEdit.cfpiva.$error.pivainvalidchar">
            P.IVA contains invalid character(s)
          </small>
          <small class="error" ng-show="formAddEdit.cfpiva.$error.pivacrcwrong">
            P.IVA control code doesn't match
          </small>
        </div>
      </div>
      <div class="row" title="Customer phone number">
        <div class="col-xs-9 col-sm-4 col-lg-3">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
            <input type="text" name="phone" class="form-control" ng-model="customer.phone" placeholder="Phone number" autocomplete="off" required check-phone key-escape="cancelCustomer()" />
          </div>
        </div>
        <div class="col-xs-1 small" ng-show="formAddEdit.phone.$valid">
          <span class="glyphicon glyphicon-ok checkmark checkmark-ok"></span>
        </div>
        <div class="error-container" ng-show="formAddEdit.phone.$invalid && formAddEditSubmitted">
          <small class="error" ng-show="formAddEdit.cfpiva.$error.required">
            A phone number is required
          </small>
          <small class="error" ng-show="formAddEdit.phone.$error.invalid">
            Phone number is not valid
          </small>
        </div>
      </div>
      <div class="row" title="Customer email address">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="text" name="email" class="form-control" ng-model="customer.email" placeholder="Email address" autocomplete="off" required check-email key-escape="cancelCustomer()" />
          </div>
        </div>
        <div class="col-xs-1 small" ng-show="formAddEdit.email.$valid">
          <span class="glyphicon glyphicon-ok checkmark checkmark-ok"></span>
        </div>
        <div class="error-container" ng-show="formAddEdit.email.$invalid && formAddEditSubmitted">
          <small class="error" ng-show="formAddEdit.email.$error.required">
            An email address is required
          </small>
          <small class="error" ng-show="formAddEdit.email.$error.invalid">
            Email address is not valid
          </small>
        </div>
      </div>
      <div class="row" title="Customer street address">
        <div class="col-xs-12 col-sm-8 col-lg-4">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
            <input type="text" name="address" class="form-control" ng-model="customer.address" ng-autocomplete="autocompleteAddressResult" details="autocompleteAddressDetails" options="autocompleteAddressOptions" placeholder="Address" required key-escape="cancelCustomer()" />
          </div>
        </div>
        <div class="col-xs-1 small">
          <span ng-show="formAddEdit.address.$valid" class="glyphicon glyphicon-ok" style="color: green; margin-top: 10px;"></span>
        </div>
        <div class="error-container" ng-show="formAddEdit.address.$invalid && formAddEditSubmitted">
          <small class="error" ng-show="formAddEdit.address.$error.required">
            A street address is required
          </small>
        </div>
      </div>
      <div class="customer row no-print" style="margin-top: 1.0em;">
        <div class="col">
          <button type="submit" class="btn btn-primary" ng-click="submitCustomer(formAddEdit.$valid)">
            <i class="glyphicon glyphicon-save"></i>&nbsp;Save
          </button>
          &emsp;
          <button type="text" class="btn btn-default" ng-click="cancelCustomer()">
            <i class="glyphicon glyphicon-remove"></i>&nbsp;cancel
          </button>
        </div>
      </div>
    </form>

    <form ng-show="printMode" class="customer">
      <div class="print-report customer">
        <div class="row print-row">
          <div class="col-xs-4">
            <h6><img src="icons/favicon.png">Sistemi Solari Rossi</h6>
          </div>
          <div class="col-xs-7 text-right">
            <h2>Customer Card (da fare...)</h2>
          </div>
          <div class="col-xs-1">
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-12">
            <label>Name</label>
            <input type="text" value="{{ customer.name }}" disabled="true" />
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-4">
            <label>Date</label>
            <input type="text" value="{{ customer.dateIn | date: 'dd MMMM yyyy HH:mm' }}" disabled="true"/>
          </div>
          <div class="col-xs-2">
            <label>Duration</label>
            <input type="text" value="{{ customer.duration | date: 'HH:mm' }}" disabled="true"/>
          </div>
          <div class="col-xs-6">
            <label>Location</label>
            <input type="text" value="{{ customer.location }}" disabled="true"/>
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-3">
            <label>Customer</label>
            <input type="text" value="{{ customer.name }}" disabled="true" />
          </div>
          <div class="col-xs-3">
            <label>P.&nbsp;IVA</label>
            <input type="text" value="{{ customer.cfpiva }}" disabled="true" />
          </div>
          <div class="col-xs-6">
            <label>Address</label>
            <input type="text" value="{{ customer.address }}" disabled="true" />
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-4">
            <label>Email</label>
            <input type="text" value="{{ customer.email }}" disabled="true" />
          </div>
          <div class="col-xs-4">
            <label>Phone</label>
            <input type="text" value="{{ customer.phone }}" disabled="true" />
          </div>
          <div class="col-xs-4">
            <label>Fax</label>
            <input type="text" value="{{ customer.fax }}" disabled="true" />
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-12">
            <h_r>
          </div>
        </div>
      </div>
      <div class="row no-print" style="margin-top: 1.0em;">
        <div class="col">
          <button type="submit" class="btn btn-primary" ng-click="printCustomer()" >
            <i class="glyphicon glyphicon-print"></i>&nbsp;Print
          </button>
          &emsp;
          <button type="text" class="btn btn-default" ng-click="cancelCustomer()">
            <i class="glyphicon glyphicon-remove"></i>&nbsp;cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>