<div id="footer" ng-controller="AuthCtrl" class="footer no-print">

  <!-- debug-only -->
  <span show-device-class ng-show="debug">
  </span>
  <!-- /debug-only -->

  <span>&emsp;</span>

  <span class="debug" ng-show="debug">
    last build date: {{ lastBuildDate }}
  </span>

  <span>&emsp;</span>

  <!-- TODO: appcache in main.css (img width: 16) -->
  {{ appcache.status }}
  <span class="appcache">
    <span ng-show="appcache.status === 'cached'"     ><img src="icons/round-button-blue.png"   width="18" ng-title="Cache status is '{{appcache.status}}'" /></span>
    <span ng-show="appcache.status === 'checking'"   ><img src="icons/round-button-yellow.png" width="18" ng-title="Cache status is '{{appcache.status}}'" /></span>
    <span ng-show="appcache.status === 'downloading'"><img src="icons/round-button-orange.png" width="18" ng-title="Cache status is '{{appcache.status}}'" /></span>
    <span ng-show="appcache.status === 'noupdate'"   ><img src="icons/round-button-purple.png" width="18" ng-title="Cache status is '{{appcache.status}}'" /></span>
    <span ng-show="appcache.status === 'obsolete'"   ><img src="icons/round-button-gray.png"   width="18" ng-title="Cache status is '{{appcache.status}}'" /></span>
    <span ng-show="appcache.status === 'progress'"   ><img src="icons/round-button-cyan.png"   width="18" ng-title="Cache status is '{{appcache.status}}'" /></span>
    <span ng-show="appcache.status === 'updateready'"><img src="icons/round-button-green.png"  width="18" ng-title="Cache status is '{{appcache.status}}'" /></span>
    <span ng-show="appcache.status === 'error'"      ><img src="icons/round-button-red.png"    width="18" ng-title="Cache status is '{{appcache.status}}'" /></span>
  </span>

  <span>&emsp;</span>

  <!-- TODO: is-online in main.css (img width: 16) -->
  <span class="is-online">
    <span ng-show="online"><img src="icons/online.png" width="18" title="You are online" /></span>
    <span ng-hide="online"><img src="icons/offline.png" width="18" title="You are offline" /></span>
  </span>

  <span>&emsp;</span>

  <!-- TODO: footer-icon in main.css (img width: 16) -->
  <span class="footer-icon">
    <img src="icons/favicon.ico" width="16" title="Company logo" /> &copy; 2014, Sistemi Solari Rossi
  </span>

</div>