<div id="footer" ng-controller="AuthCtrl" class="footer no-print">

  <span class="debug" ng-show="debug">
    <span show-device-class></span>
  </span>

  <span>&nbsp;</span>

  <span class="debug" ng-show="debug">
    version: {{ package.version }}
  </span>

  <span>&nbsp;</span>

  <span class="debug" ng-show="debug">
    last build date: {{ lastBuildDate | date: 'yyyy-MM-d HH:mm:ss' }}
  </span>

  <span>&nbsp;</span>
  <span class="appcache">
    <span ng-show="appcache.status === 'initializing'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:black" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
    <span ng-show="appcache.status === 'error'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:red" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
    <span ng-show="appcache.status === 'cached'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:green" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
    <span ng-show="appcache.status === 'checking'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:cyan" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
    <span ng-show="appcache.status === 'downloading'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:orange" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
    <span ng-show="appcache.status === 'no'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:purple" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
    <span ng-show="appcache.status === 'obsolete'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:gray" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
    <span ng-show="appcache.status === 'progress'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:yellow" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
    <span ng-show="appcache.status === 'updateready'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:blue" really-message="{{ 'An update is available: do you want to load it now?' | translate }}" really-click="appcacheStatus();" ng-attr-title="{{ 'Cache status is' | translate }} '{{ appcache.status }}'"></button>
    </span>
  </span>

  <span>&nbsp;</span>

  <span class="i18n" ng-controller="I18NCtrl">
    <span ng-hide="selectingLanguageFlag">
      <img ng-src="{{ getCurrentLanguageFlag() }}" ng-attr-title="{{ 'Current language is' | translate }} {{ getCurrentLanguageName() }}" ng-click="selectingLanguage()" />
    </span>

    <span ng-show="selectingLanguageFlag">
      <select ng-model="selectedLanguage" class="btn btn-default btn-xxs" ng-change="languageSelected()" ng-blur="languageSelected()">
        <option
          ng-repeat="language in supportedLanguagesSorted"
          value="{{ language.key }}"
          style="background-image: url('icons/flags/{{language.key}}.png'); background-repeat: no-repeat; padding-left: 2.4em; text-align: left"
          ng-selected="selectedLanguage === language.key"
        >
        {{ language.des }} [{{ language.key }}]
        </option>
      </select>
    </span>
  </span>

  <span>&nbsp;</span>

  <span class="is-online">
    <span ng-show="online"><img src="icons/online.png" ng-attr-title="{{ 'You are online' | translate }}" /></span>
    <span ng-hide="online"><img src="icons/offline.png" ng-attr-title="{{ 'You are offline' | translate }}" /></span>
  </span>

  <span>&nbsp;</span>

  <span class="footer-icon">
    <img src="icons/logo-company-16x16.png" ng-attr-title="{{'Company logo' | translate }}" /><span style="font-size: 90%;"> {{ copyright }} </span>
  </span>

</div>