<div id="footer" ng-controller="AuthCtrl" class="footer no-print">

  <!-- debug-only -->
  <span show-device-class ng-show="debug">
  </span>
  <span ng-show="debug">&nbsp;</span>
  <!-- /debug-only -->

  <span class="debug" ng-show="debug">
    last commit date: {{ lastBuildDate }}
  </span>

  <span>&nbsp;</span>

  <!-- TODO: appcache in main.css (img width: 9) -->
  <span class="appcache">
    <span ng-show="appcache.status === 'initializing'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:black" ng-click="appcacheStatus()" ng-attr-title="Cache status is '{{appcache.status}}'"></button>
    </span>
    <span ng-show="appcache.status === 'error'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:red" ng-click="appcacheStatus()" ng-attr-title="{{ 'Cache status is' | translate }} '{{appcache.status}}'"></button>
    </span>
    <span ng-show="appcache.status === 'cached'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:green" ng-click="appcacheStatus()" ng-attr-title="Cache status is '{{appcache.status}}'"></button>
    </span>
    <span ng-show="appcache.status === 'checking'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:cyan" ng-click="appcacheStatus()" ng-attr-title="Cache status is '{{appcache.status}}'"></button>
    </span>
    <span ng-show="appcache.status === 'downloading'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:orange" ng-click="appcacheStatus()" ng-attr-title="Cache status is '{{appcache.status}}'"></button>
    </span>
    <span ng-show="appcache.status === 'no'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:purple" ng-click="appcacheStatus()" ng-attr-title="Cache status is '{{appcache.status}}'"></button>
    </span>
    <span ng-show="appcache.status === 'obsolete'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:gray" ng-click="appcacheStatus()" ng-attr-title="Cache status is '{{appcache.status}}'"></button>
    </span>
    <span ng-show="appcache.status === 'progress'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:yellow" ng-click="appcacheStatus()" ng-attr-title="Cache status is '{{appcache.status}}'"></button>
    </span>
    <span ng-show="appcache.status === 'updateready'">
      <button class="btn btn-default btn-xxs glyphicon glyphicon-cloud" style="color:blue" really-message="{{ 'An update is available: do you want to load it now?' | translate }}" really-click="appcacheStatus();" ng-attr-title="{{ 'Cache status is' | translate }} '{{appcache.status}}'"></button>
    </span>
  </span>

  <span>&nbsp;</span>

  <span class="i18n">
    <img ng-src="{{ getCurrentLanguageFlag() }}" width="16" ng-attr-title="{{ 'Current language is' | translate }} {{ getCurrentLanguageName() }}" ng-click="setNextLanguage()" /></span>
  </span>

  <span>&nbsp;</span>

  <!-- TODO: is-online in main.css (img width: 16) -->
  <span class="is-online">
    <span ng-show="online"><img src="icons/online.png" width="18" ng-attr-title="{{ 'You are online' | translate }}" /></span>
    <span ng-hide="online"><img src="icons/offline.png" width="18" ng-attr-title="{{ 'You are offline' | translate }}" /></span>
  </span>

  <span>&nbsp;</span>

  <!-- TODO: footer-icon in main.css (img width: 16) -->
  <span class="footer-icon">
    <img src="icons/favicon.ico" width="16" ng-attr-itle="{{'Company logo' | translate }}" /> &copy; 2014, Sistemi Solari Rossi
  </span>

</div>