<div class="container orders-page" ng-controller="HomeCtrl">
  <div ng-hide="signedIn()">

<!--
<button class="btn btn-google-plus"><i class="fa fa-google-plus"></i>&emsp; Connect with Google+</button>
<button class="btn btn-twitter"><i class="fa fa-twitter"></i>&emsp; Connect with Facebook</button>
<button class="btn btn-facebook"><i class="fa fa-facebook"></i>&emsp; Connect with Facebook</button>
<br><br>
-->

    <div class="btn-group-vertical pull-right btn-group-vertical-spaced" ng-controller="AuthCtrl">
      <a class="btn btn-primary"
         ng-href="#/register"
         title="Register if you have not an account already">
         <i class="fa fa-user"></i>&nbsp; Register
      </a>
      <a class="btn btn-primary"
         ng-href="#/login"
         title="Log in with your credentials">
         <i class="fa fa-sign-in"></i>&nbsp; Log in
      </a>
      <a class="btn btn-block btn-social btn-google-plus"
         ng-click="loginSocial('google')"
         title="Connect with your Google accout">
        <i class="fa fa-google-plus"></i> Connect with Google+
      </a>
      <a class="btn btn-block btn-social btn-facebook"
         ng-click="loginSocial('facebook')"
         title="Connect with your Facebook accout">
         <i class="fa fa-facebook"></i>&nbsp; Connect with Facebook
      </a>
      <a class="btn btn-block btn-social btn-twitter"
         ng-click="loginSocial('twitter')"
         title="Connect with your Twitter accout">
         <i class="fa fa-twitter"></i>&nbsp; Connect with Twitter
      </a>
    </div>

    <div class="jumbotron centered">
      Questa è la home page di <em>smartUp</em> per gli utenti non registrati. <br />
      Connettersi utilizzando un proprio account "social", oppure loggarsi con queste credenziali: <br />
      <center><small>
        <table>
          <tr>
            <td style="text-align:right">username:</td><td><i>demo</i></td>
          </tr>
          <tr>
            <td style="text-align:right">password:</td><td><i>demo</i></td>
          </tr>
        </table>
      </small></center>
      oppure registrare un nuovo account ed effettuare il log in.<br />
    </div>
  </div>
  <div ng-show="signedIn()">
    <div class="jumbotron centered">
      Questa è la home page di <em>smartUp</em> per gli utenti registrati. <br />
    </div>
  </div>
</div>