<div class="container orders-page" ng-controller="HomeCtrl">
  <div ng-hide="signedIn()">
    <div class="jumbotron centered">
      Questa è la home page di <em>smallBusiness</em> per gli utenti non registrati. <br />
      <br />
      Loggarsi come <i>demo@mail.com</i> / <i>demo</i>, oppure <br />
      registrare un nuovo account e loggarsi <br />
      per utilizzare la parte amministrativa. <br />
    </div>
  </div>
  <div ng-show="signedIn()">
    <div class="jumbotron centered">
      Questa è la home page di <em>smallBusiness</em> per gli utenti registrati. <br />
    </div>
  </div>
</div>