<div class="container orders-page" ng-controller="HomeCtrl">
  <div ng-hide="signedIn()">

    <div class="btn-group-vertical pull-right btn-group-vertical-spaced" ng-controller="AuthCtrl">
      <a class="btn btn-primary"
         ng-href="#/register"
         title="Register if you have not an account already">
         <i class="fa fa-user"></i>&nbsp;<span translate>Register</span>
      </a>
      <a class="btn btn-primary"
         ng-href="#/login"
         title="Log in with your credentials">
         <i class="fa fa-sign-in"></i>&nbsp;<span translate>Log in</span>
      </a>
      <a class="btn btn-block btn-social btn-google-plus"
         ng-click="loginSocial('google')"
         title="Connect with your Google accout">
        <i class="fa fa-google-plus"></i><span translate>Connect with Google+</span>
      </a>
      <a class="btn btn-block btn-social btn-facebook"
         ng-click="loginSocial('facebook')"
         title="Connect with your Facebook accout">
         <i class="fa fa-facebook"></i>&nbsp;<span translate>Connect with Facebook</span>
      </a>
      <a class="btn btn-block btn-social btn-twitter"
         ng-click="loginSocial('twitter')"
         title="Connect with your Twitter accout">
         <i class="fa fa-twitter"></i>&nbsp;<span translate>Connect with Twitter</span>
      </a>
    </div>

    <div class="jumbotron centered">
      <span translate>This is</span>
      <em>{{ appName }}</em>
      <span translate>home page for non registered users.</span>
      <br />
      <span translate>
        Connect using one of your social accounts, or log in with these credentials:
      </span>
      <br />
      <center><small>
        <table>
          <tr>
            <td style="text-align:right"><span translate>username:</span></td>
            <td><i>demo</i></td>
          </tr>
          <tr>
            <td style="text-align:right"><span translate>password:</span></td>
            <td><i>demo</i></td>
          </tr>
        </table>
      </small></center>
      <span translate>otherwise register a new accout and log in.</span>
      <br />
    </div>
  </div>
  <div ng-show="signedIn()">
    <div class="jumbotron centered">
      <span translate>This is</span>
      <em>{{ appName }}</em>
      <span translate>home page for registered users.</span>
      <br />
    </div>
  </div>
</div>