<div class="auth-forms" style="max-width: 20.0em;">

  <h3>Log In</h3>

  <form mame="formLogin">

    <div style="float: left;">
      <div ng-hide="error || info" class="login-error">&nbsp;</div>
      <div ng-show="error" class="login-error">{{ error }}</div>
      <div ng-show="info" class="login-info">{{ info }}</div>
    </div>
    <div class="alignclearboth"></div>

    <div class="row" title="Your email">
      <div class="col">
        <input type="text" name="email" class="form-control" ng-model="user.email" ng-change="reset()" placeholder="Email" autocomplete="on" auto-fill-sync required />
      </div>
    </div>

    <div class="row" title="Your password">
      <div class="col">
        <input type="password" name="password" class="form-control" ng-model="user.password" ng-change="reset()" placeholder="Password" auto-fill-sync required />
      </div>
    </div>

    <div class="row" title="Reset your password">
      <div class="col">
        <span style="font-size: 75%; text-decoration: underline; float: right;">
          <!-- onclick="toastr.warning('email sent successully...');" -->
          <a href="javascript:void(0)" ng-click="sendPasswordResetEmail(user.email)">I forgot my password</a>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary" ng-disabled="error" ng-click="login()">
          Log in
        </button>
      </div>
    </div>
  </form>

</div>
<br>