<div class="auth-forms" style="max-width: 20.0em;" ng-show="!params.authType">

  <h3>Log In</h3>

user: {{ user }}
  <form name="formLogin">

    <div style="float: left;">
      <div ng-hide="error || info" class="login-error">&nbsp;</div>
      <div ng-show="error" class="login-error">{{ error }}</div>
      <div ng-show="info" class="login-info">{{ info }}</div>
    </div>
    <div class="alignclearboth"></div>

    <div class="row" title="Your username or email">
      <div class="col">
        <input type="text" name="usernameOrEmail" class="form-control" ng-model="user.usernameOrEmail" ng-change="reset()" placeholder="Username / Email" autocomplete="on" autofocus="true" autofill-fix check-not-empty tabindex="1" />
      </div>
    </div>

    <div class="row" title="Your password">
      <div class="col">
        <input type="password" name="password" class="form-control" ng-model="user.password" ng-change="reset()" placeholder="Password" autofill-fix check-not-empty tabindex="2" />
      </div>
    </div>

    <div class="row" title="Reset your password">
      <div class="col">
        <span style="font-size: 75%; float: right;">
          <!-- onclick="toastr.warning('email sent successully...');" -->
          <a href="javascript:void(0)" ng-click="sendPasswordResetEmail(user.usernameOrEmail)" tabindex="4">I forgot my password</a>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary" ng-disabled="error" ng-click="login()" tabindex="3">
          Log in
        </button>
      </div>
    </div>
  </form>

</div>
<br>