<div class="auth-forms" ng-show="!params.authType">

  <h3>Log In</h3>

  <form name="formLogin">

    <div style="float: left;">
      <div ng-hide="error || info" class="login-error">&nbsp;</div>
      <div ng-show="error" class="login-error">{{ error }}</div>
      <div ng-show="info" class="login-info">{{ info }}</div>
    </div>
    <div class="alignclearboth"></div>

    <div class="row" ng-attr-title="{{ 'Your username or email' | translate }}">
      <div class="col">
        <input type="text" name="usernameOrEmail" class="form-control" ng-model="user.usernameOrEmail" ng-change="reset()" placeholder="{{ 'Username / Email' | translate }}" autocomplete="on" autofocus="true" autofill-fix check-not-empty tabindex="1" />
      </div>
    </div>

    <div class="row" title="Your password">
      <div class="col">
        <input type="password" name="password" class="form-control" ng-model="user.password" ng-change="reset()" placeholder="{{ 'Password' | translate }}" autofill-fix check-not-empty tabindex="2" />
      </div>
    </div>

    <div class="row" ng-attr-title="{{ 'Reset your password' | translate }}">
      <div class="col">
        <span style="font-size: 75%; float: right;">
          <a href="javascript:void(0)" ng-click="sendPasswordResetEmail(user.usernameOrEmail)" tabindex="4"><span translate>I forgot my password</span></a>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary" ng-disabled="error" ng-click="login()" tabindex="3">
          <span translate>Log in</span>
        </button>
      </div>
    </div>
  </form>

</div>
<br>