<nav class="navbar navbar-inverse disable-highlight no-print" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only" translate>Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" style="font-size: 150%;" href="#" ng-click="isCollapsed = true">{{ appName }} <img src="{{ appLogo }}" width="28" align="bottom" /></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse" nav-collapse>
    <ul class="nav navbar-nav navbar-right">
      <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="isCollapsed = !isCollapsed" ng-href="#"><span translate>Home</span></a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="isCollapsed = !isCollapsed" ng-href="#/customers"><span translate>Customers</span></a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="isCollapsed = !isCollapsed" disabled-ng-href="#/orders" onclick="toastr.warning('Not yet available...');"><span translate>Orders</span></a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="isCollapsed = !isCollapsed" ng-href="#/servicereports"><span translate>Service reports</span></a>
      </li>

      <li class="divider-vertical">
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" ng-click="$event.stopPropagation()"><span translate>Setup</span> <b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu inverse-dropdown">
          <li role="presentation"><a ng-click="isCollapsed = !isCollapsed" ng-href="#/users"><span translate>Users</span></a></li>
        </ul>
      </li>

      <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="isCollapsed = !isCollapsed" ng-href="#/contacts"><span translate>Contacts</span></a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="isCollapsed = !isCollapsed" ng-href="#/about"><span translate>About</span></a>
      </li>

    </ul>
  </div>

</nav>

<div ng-controller="AuthCtrl" class="no-print">
  <div class="nav-alignleft">
    <span class="nav-alignleft breadcrumb" ng-show="formLabel">
      {{ formLabel | translate }}
    </span>
  </div>
  <div ng-show="!signedIn()">
    <div class="pic-circular"></div> <!-- vertical space keeper -->
  </div>
  <div ng-show="signedIn()">
    <div class="nav-alignright">
      <span>
        <a href="#/users/{{ currentUser.username }}">
          <img class="pic-circular" ng-src="{{ currentUser.imageUrl }}" ng-attr-title="{{ 'logged user' | translate }}: {{ currentUser.username }}" />
          <span ng-attr-title="{{ 'logged user' | translate }}: {{ currentUser.username }}"><i>{{ currentUser.username }}</i></span>
        </a>
      </span>
      &emsp;
      <span>
        <a class="btn btn-primary" ng-click="logout()"><span class="glyphicon glyphicon-log-out" title="Log out"></span></a>
      </span>
    </div>
    <div class="alignclearboth"></div>
  </div>
</div>