<div class="auth-forms">

  <h3>Register</h3>
   <form name="formRegister" novalidate>
    <div style="float: left;">
      <div ng-hide="error || info" class="login-error">&nbsp;</div>
      <div ng-show="error" class="login-error">{{ error }}</div>
      <div ng-show="info" class="login-info">{{ info }}</div>
    </div>
    <div class="alignclearboth"></div>

    <div class="row" ng-attr-title="{{ 'Your user name' | translate }}" style="margin-top: 1.5em;">
      <div class="col">
        <input type="text" name="username" ng-model="user.username" ng-change="reset()" placeholder="{{ 'Username' | translate }}" class="form-control" autocomplete="off" check-not-empty check-user-name render-on="blur" autofocus="true">
      </div>
    </div>
    <div class="error-container" ng-show="formRegister.username.$invalid && formRegisterSubmitted">
      <small class="error" ng-show="formRegister.username.$error.notempty">
        <span translate>A user name is required</span>
      </small>
      <small class="error" ng-show="formRegister.username.$error.invalid">
        <span translate>User name is not valid</span>
      </small>
      <small class="error" ng-show="formRegister.username.$error.taken">
        <span translate>This user name is already taken</span>
      </small>
    </div>

    <div class="row" ng-attr-title="{{ 'Your email' | translate }}" style="margin-top: 1.5em;">
      <div class="col">
        <input type="text" name="email" ng-model="user.email" ng-change="reset()" placeholder="{{ 'Email' | translate }}" class="form-control" autocomplete="off" check-not-empty check-email>
      </div>
    </div>
    <div class="error-container" ng-show="formRegister.email.$invalid && formRegisterSubmitted">
      <small class="error" ng-show="formRegister.email.$error.required">
        <span translate>An email address is required</span>
      </small>
      <small class="error" ng-show="formRegister.email.$error.invalid">
        <span translate>Email address is not valid</span>
      </small>
    </div>

    <div class="row" ng-attr-title="{{ 'Your password' | translate }}" style="margin-top: 1.5em;">
      <div class="col">
        <input type="password" name="password" ng-model="user.password" ng-change="reset()" placeholder="{{ 'Password' | translate }}" class="form-control" autocomplete="on" auto-fill-sync check-not-empty check-password equals="{{user.passwordVerify}}">
      </div>
    </div>
    <div class="error-container" ng-show="formRegister.password.$invalid && formRegisterSubmitted">
      <small class="error" ng-show="formRegister.password.$error.required">
        <span translate>A password is required</span>
      </small>
      <small class="error" ng-show="formRegister.password.$error.invalid">
        <span translate>Password is not sufficiently strong</span>
      </small>
    </div>

    <div class="row" ng-attr-title="{{ 'Your password, again' | translate }}" style="margin-top: 1.5em;">
      <div class="col">
        <input type="password" name="passwordverify" ng-model="user.passwordVerify" ng-change="reset()" placeholder="{{ 'Confirm password' | translate }}" class="form-control" autocomplete="off" check-not-empty equals="{{user.password}}">
      </div>
    </div>
    <div class="error-container" ng-show="formRegister.passwordverify.$invalid && formRegisterSubmitted">
      <small class="error" ng-show="formRegister.passwordverify.$error.required">
        <span translate>Password confirmation is required</span>
      </small>
      <small class="error" ng-show="formRegister.passwordverify.$error.equals">
        <span translate>Password confirmation doesn't match</span>
      </small>
    </div>

    <div class="row" style="margin-top: 1.5em;">
      <div class="col">
        <button type="submit" class="btn btn-primary" ng-click="register(formRegister.$valid)">
          <span translate>Register</span>
        </button>
      </div>
    </div>
  </form>
 
</div>
<br>