<div class="auth-forms" style="width: 20.0em;">

  <h3>Register</h3>
   <form name="formRegister" novalidate>
    <div style="float: left;">
      <div ng-hide="error || info" class="login-error">&nbsp;</div>
      <div ng-show="error" class="login-error">{{ error }}</div>
      <div ng-show="info" class="login-info">{{ info }}</div>
    </div>
    <div class="alignclearboth"></div>

<!--
    <div style="float: left;">
      <div ng-hide="error || formRegister.username.$error.taken || formRegister.username.$error.invalid || formRegister.password.$error.equals" class="login-error">&nbsp;</div>
      <div ng-show="error" class="login-error">{{ error }}</div>
      <div ng-show="formRegister.username.$error.taken" class="login-error">Username is already taken</div>
      <div ng-show="formRegister.username.$error.invalid" class="login-error">Username contains invalid characters</div>
      <div ng-show="formRegister.password.$error.equals" class="login-error">Passwords do not match</div>
    </div>
    <div class="alignclearboth"></div>
-->

    <div class="row" title="Your user name" style="margin-top: 1.5em;">
      <div class="col">
        <input type="text" name="username" ng-model="user.username" ng-change="reset()" placeholder="Username" class="form-control" autocomplete="off" required check-user-name>
      </div>
    </div>
    <div class="error-container" ng-show="formRegister.username.$invalid && formRegisterSubmitted">
      <small class="error" ng-show="formRegister.username.$error.required">
        A user name is required
      </small>
      <small class="error" ng-show="formRegister.username.$error.invalid">
        User name is not valid
      </small>
      <small class="error" ng-show="formRegister.username.$error.taken">
        This user name is already taken
      </small>
    </div>


    <div class="row" title="Your email" style="margin-top: 1.5em;">
      <div class="col">
        <input type="text" name="email" ng-model="user.email" ng-change="reset()" placeholder="Email" class="form-control" autocomplete="off" required check-email>
      </div>
    </div>
    <div class="error-container" ng-show="formRegister.email.$invalid && formRegisterSubmitted">
      <small class="error" ng-show="formRegister.email.$error.required">
        An email address is required
      </small>
      <small class="error" ng-show="formRegister.email.$error.invalid">
        Email address is not valid
      </small>
    </div>

    <div class="row" title="Your password" style="margin-top: 1.5em;">
      <div class="col">
        <input type="password" name="password" ng-model="user.password" ng-change="reset()" placeholder="Password" class="form-control" autocomplete="on" auto-fill-sync required check-password equals="{{user.passwordVerify}}">
      </div>
    </div>
    <div class="error-container" ng-show="formRegister.password.$invalid && formRegisterSubmitted">
      <small class="error" ng-show="formRegister.password.$error.required">
        A password is required
      </small>
      <small class="error" ng-show="formRegister.password.$error.invalid">
        Password is not sufficiently strong
      </small>
    </div>

    <div class="row" title="Your password, again" style="margin-top: 1.5em;">
      <div class="col">
        <input type="password" name="passwordverify" ng-model="user.passwordVerify" ng-change="reset()" placeholder="Confirm password" class="form-control" autocomplete="off" required equals="{{user.password}}">
      </div>
    </div>
    <div class="error-container" ng-show="formRegister.passwordverify.$invalid && formRegisterSubmitted">
      <small class="error" ng-show="formRegister.passwordverify.$error.required">
        Password confirmation is required
      </small>
      <small class="error" ng-show="formRegister.passwordverify.$error.equals">
        Password confirmation doesn't match
      </small>
    </div>

    <div class="row" style="margin-top: 1.5em;">
      <div class="col">
        <button type="submit" class="btn btn-primary" ng-click="register(formRegister.$valid)">
          Register
        </button>
      </div>
    </div>
  </form>
 
</div>
<br>