<div class="container servicereports-page">

  <div ng-show="signedIn() && currentUserCanRead()">

    <form class="form-horizontal" ng-hide="printMode || addMode || editMode">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-3" title="Add new service report">
            <button type="submit" class="btn btn-primary" ng-show="signedIn() && !(addMode || editMode)" ng-click="addServicereport()">
              <i class="glyphicon glyphicon-plus"></i>&nbsp;<span translate>New report</span>
            </button>
          </div>
          <div class="col-xs-4">
          </div>
          <div class="col-xs-5" ng-attr-title="{{ 'Filter service reports' | translate }}">
            <div class="right-inner-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" ng-model="search" class="form-control form-control-search" style="min-width: 8.0em;">
            </div>
          </div>  
        </div>
      </div>
      <div class="vertical-spacer" style="height: 1.0em;"></div>
    </form>

    <div ng-hide="printMode || addMode || editMode" class="scrollable" spring="footer">
       <table ng-table="tableParams" class="table">
        <tr>
          <th>
            <span ng-click="orderby = '-number'" translate>N°</span>
            <a ng-click="orderby = 'number'"><small><i ng-show="orderby === '-number'" class="glyphicon glyphicon-chevron-up"></i></small></a>
            <a ng-click="orderby = '-number'"><small><i ng-show="orderby === 'number'" class="glyphicon glyphicon-chevron-down"></i></small></a>
          </th>
          <th>
            <span ng-click="orderby = '-dateIn'" translate>Date</span>
            <a ng-click="orderby = 'dateIn'"><small><span ng-show="orderby === '-dateIn'" class="glyphicon glyphicon-chevron-up"></span></small></a>
            <a ng-click="orderby = '-dateIn'"><small><span ng-show="orderby === 'dateIn'" class="glyphicon glyphicon-chevron-down"></span></small></a>
          </th>
          <th>
            <span ng-click="orderby = 'customer.name'" translate>Customer name</span>
            <a ng-click="orderby = 'customer.name'"><small><span ng-show="orderby === '-customer.name'" class="glyphicon glyphicon-chevron-up"></span></small></a>
            <a ng-click="orderby = '-customer.name'"><small><span ng-show="orderby === 'customer.name'" class="glyphicon glyphicon-chevron-down"></span></small></a>
          </th>
          <th>
            <span translate>Place</span>
          </th>
          <!--
          <th>
            <span translate>Notes</span>
          </th>
          -->
          <th>
            <!-- command buttons -->
          </th>
        </tr>
        <tr ng-repeat="(servicereportId, servicereport) in servicereports | orderByPriority | searchServiceReport:customersById:search | orderBy: orderby" ng-if="!servicereport.hasOwnProperty('deleted') && !servicereport.hasOwnProperty('serviceReportNumber')">
          <td ng-attr-title="{{ 'Number' | translate }}" sortable="'number'" class="condensed">
            {{ servicereport.number }}
          </td>
          <td ng-attr-title="{{ 'Date of service start' | translate }}" sortable="'dateIn'" class="condensed">
            {{ servicereport.dateIn | date: 'dd MMMM yyyy HH:mm' }}
          </td>
          <td ng-attr-title="{{ 'Customer name' | translate }}" sortable="'customer.name'" class="condensed">
            <!--{{ getCustomerName(servicereport.customerId) }}-->
            {{ customersById[servicereport.customerId].name }}
          </td>
          <td ng-attr-title="{{ 'Place' | translate }}" sortable="'place'" class="condensed">
            {{ servicereport.location }}
          </td>
          <!--
          <td ng-attr-title="{{ 'Notes' | translate }}" sortable="'notes'" class="condensed">
            {{ servicereport.notes }}
          </td>
          -->
          <td class="condensed">
            <button
              ng-attr-title="{{ 'Edit service report' | translate }}"
              class="btn btn-primary btn-xs glyphicon glyphicon-pencil"
              ng-click="editServicereport(servicereport)"
            ></button>
            <button
              ng-attr-title="{{ 'Print service report' | translate }}"
              class="btn btn-primary btn-xs glyphicon glyphicon-print"
              ng-click="preprintServicereport(servicereport)"
            ></button>
            <button
              ng-attr-title="{{ 'Delete service report' | translate }}" 
              class="btn btn-primary btn-xs glyphicon glyphicon-trash"
              really-message="{{ 'Are you really sure to remove service report' | translate }} <i>{{servicereport.number}}</i> ?" really-click="deleteServicereport(servicereport)"
            ></button>
          </td>
        </tr>
      </table>  
    </div>

    <form name="formAddEdit" ng-show="addMode || editMode" novalidate class="servicereport form-horizontal">
      <div class="row" ng-attr-title="{{ 'Number' | translate }}">
        <div class="col-xs-6 col-sm-2 col-lg-2">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-flag"></span></span>
              <input type="text" class="form-control" ng-model="servicereport.number" ng-disabled="true" />
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-attr-title="{{ 'Operator of service' | translate }}">
        <div class="col-xs-8 col-sm-4 col-lg-2">
          <div class="form-group"
            ng-class="{ 'has-error':
              (formAddEditSubmitted && !formAddEdit.operator.$valid)
            }">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <!-- TODO: typeahead on users -->
              <input type="text" name="operator" class="form-control" ng-model="servicereport.operator" required key-escape="cancelServicereport()" />
            </div>
            <div ng-messages="formAddEdit.operator.$error" ng-show="formAddEditSubmitted" class="help-block help-block-small">
              <div ng-message="required"><span translate>An operator is required</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-attr-title="{{ 'Customer name' | translate }}">
        <div class="col-xs-10 col-sm-5 col-lg-3">
          <div class="form-group"
            ng-class="{ 'has-error':
              (formAddEditSubmitted && !formAddEdit.customername.$valid)
            }">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
              <input type="text" name="customername" class="form-control" ng-model="customer.name" autofocus="addMode || editMode" typeahead="customer.name for customer in getCustomers($viewValue) | orderByPriority | filter: $viewValue | limitTo:5" typeahead-editable="false" typeahead-on-select="onCustomerSelect($item, $model, $label)" autocomplete="off" placeholder="{{ 'Customer name' | translate }}" required key-escape="cancelServicereport()" />
            </div>
            <div ng-messages="formAddEdit.customername.$error" ng-show="formAddEditSubmitted" class="help-block help-block-small">
              <div ng-message="required"><span translate>A customer name is required</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-attr-title="{{ 'Location of service' | translate }}">
        <div class="col-xs-12 col-sm-8 col-lg-4">
          <div class="form-group"
            ng-class="{ 'has-error':
              (formAddEditSubmitted && !formAddEdit.location.$valid)
            }">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
              <input type="text" name="location" class="form-control" ng-model="servicereport.location" placeholder="{{ 'Location of service' | translate }}" required key-escape="cancelServicereport()" />
            </div>
            <div ng-messages="formAddEdit.location.$error" ng-show="formAddEditSubmitted" class="help-block help-block-small">
              <div ng-message="required"><span translate>A location of service is required</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-attr-title="{{ 'Customer phone number' | translate }}">
        <div class="col-xs-9 col-sm-4 col-lg-3">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
              <input type="text" class="form-control" ng-model="customer.phone" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-attr-title="{{ 'Customer email address' | translate }}">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <input type="email" class="form-control" ng-model="customer.email" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-attr-title="{{ 'Date of service start' | translate }}">
        <div class="col-xs-7 col-sm-4 col-lg-3">
          <div class="form-group"
            ng-class="{ 'has-error':
              (formAddEditSubmitted && !formAddEdit.dateIn.$valid)
            }">
            <div class="input-group">
              <span class="input-group-addon" ng-click="dateOpen($event)"><span class="glyphicon glyphicon-calendar"></span></span>
              <input type="text" name="dateIn" class="form-control" ng-click="dateOpen($event)" datepicker-popup="{{ dateFormat }}" ng-model="servicereport.dateIn" title="Date of service start" is-open="dateOpened" min-date="dateMin" max-date="dateMax" datepicker-options="dateOptions" date-disabled="dateDisabled(date, mode)" required key-escape="cancelServicereport()" />
            </div>
            <div ng-messages="formAddEdit.dateIn.$error" ng-show="formAddEditSubmitted" class="help-block help-block-small">
              <div ng-message="required"><span translate>A date of service start is required</span></div>
            </div>
          </div>
        </div>
        <div class="col-xs-5" ng-attr-title="{{ 'Time of service start' | translate }}">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
              <timepicker ng-model="timeIn" ng-change="timeChanged()" hour-step="hourStep" minute-step="minuteStep" show-meridian="showMeridian" data-template-url="timepicker.tpl.html" key-escape="cancelServicereport()"></timepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-attr-title="{{ 'Duration of service' | translate }} {{ '(hh:mm)' | translate }}">
        <div class="col-xs-6 col-sm-3 col-lg-2">
          <div class="form-group"
            ng-class="{ 'has-error':
              (formAddEditSubmitted && !formAddEdit.duration.$valid) ||
              formAddEdit.duration.$error.invalid
            }">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
              <input type="text" name="duration" class="form-control" ng-model="servicereport.duration" placeholder="hh:mm" autocomplete="off" check-duration required key-escape="cancelServicereport()" />
            </div>
            <div ng-messages="formAddEdit.duration.$error" ng-show="formAddEditSubmitted" class="help-block help-block-small">
              <div ng-message="required"><span translate>A duration must be in the form 'hh' or 'hh:mm', and at least one minute long</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-attr-title="{{ 'Notes' | translate }}">
        <div class="col-xs-12 col-sm-10 col-lg-6">
          <div class="form-group">
            <div class="input-group">
              <textarea cols="80" rows="5" class="form-control" ng-model="servicereport.notes" placeholder="{{ 'Notes' | translate }}" key-escape="cancelServicereport()"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="servicereport row no-print" style="margin-top: 1.0em;">
        <div class="col">
          <button type="submit" class="btn btn-primary" ng-click="submitServicereport(formAddEdit.$valid)">
            <i class="glyphicon glyphicon-save"></i>&nbsp;<span translate>Save</span>
          </button>
          &emsp;
          <button type="text" class="btn btn-default" ng-click="cancelServicereport()">
            <i class="glyphicon glyphicon-remove"></i>&nbsp;<span translate>cancel</span>
          </button>
        </div>
      </div>
    </form>

    <form ng-show="printMode" class="servicereport">
      <div class="print-report servicereport">
        <div class="row print-row">
          <div class="col-xs-4">
            <h6><img src="icons/favicon.png">{{ CFG.APP_FULLNAME }}</h6>
          </div>
          <div class="col-xs-8 text-right">
            <h2><span translate>Service report</span></h2>
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-4">
            <label><span translate>Service report n</span>&deg;</label> <!-- TODO: when https://github.com/rubenv/angular-gettext/issues#114 is solved, put entity in translate span -->
            <input type="text" value="{{ servicereport.number }}" disabled="true" />
          </div>
          <div class="col-xs-8">
            <label><span translate>Operator</span></label>
            <input type="text" value="{{ servicereport.operator }}" disabled="true" />
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-4">
            <label><span translate>Date</span></label>
            <input type="text" value="{{ servicereport.dateIn | date: 'dd MMMM yyyy HH:mm' }}" disabled="true"/>
          </div>
          <div class="col-xs-2">
            <label><span translate>Duration</span></label>
            <input type="text" value="{{ servicereport.duration | date: 'HH:mm' }}" disabled="true"/>
          </div>
          <div class="col-xs-6">
            <label><span translate>Location</span></label>
            <input type="text" value="{{ servicereport.location }}" disabled="true"/>
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-3">
            <label><span translate>Customer</span></label>
            <input type="text" value="{{ customer.name }}" disabled="true" />
          </div>
          <div class="col-xs-3">
            <label><span translate>P.IVA</span></label>
            <input type="text" value="{{ customer.cfpiva }}" disabled="true" />
          </div>
          <div class="col-xs-6">
            <label><span translate>Address</span></label>
            <input type="text" value="{{ customer.address }}" disabled="true" />
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-4">
            <label><span translate>Email</span></label>
            <input type="text" value="{{ customer.email }}" disabled="true" />
          </div>
          <div class="col-xs-4">
            <label><span translate>Phone</span></label>
            <input type="text" value="{{ customer.phone }}" disabled="true" />
          </div>
          <div class="col-xs-4">
            <label><span translate>Fax</span></label>
            <input type="text" value="{{ customer.fax }}" disabled="true" />
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-12">
            <label><span translate>Notes</span></label>
            <textarea rows="13" disabled="true">{{ servicereport.notes }}</textarea>
          </div>
        </div> 
        <div class="row print-row">
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row print-row">
          <div class="col-xs-6">
            <label><span translate>Customer's signature</span></label>
            <input type="text" value="" disabled="true" style="height: 4.0em;" />
          </div>
          <div class="col-xs-6">
            <label><span translate>Operator's signature</span></label>
            <input type="text" value="" disabled="true" style="height: 4.0em;" />
          </div>
        </div>
      </div>
      <div class="row no-print" style="margin-top: 1.0em;">
        <div class="col">
          <button type="submit" class="btn btn-primary" ng-click="printServicereport()">
            <i class="glyphicon glyphicon-print"></i>&nbsp;<span translate>Print</span>
          </button>
          &emsp;
          <button type="text" class="btn btn-default" ng-click="cancelServicereport()">
            <i class="glyphicon glyphicon-remove"></i>&nbsp;<span translate>cancel</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>