<!-- TODO: traslate placeholders... -->
<div class="container users-page">

  <div ng-show="signedIn() && currentUserCanRead()">

    <form class="form-horizontal" ng-hide="printMode || addMode || editMode">
      <div class="form-group" style="margin-bottom: 0;">
        <div class="row">
          <div class="col-xs-3" ng-attr-title="{{ 'Add new user' | translate }}">
            <button type="submit" class="btn btn-primary" ng-show="!(addMode || editMode)" ng-click="addUser()">
              <i class="glyphicon glyphicon-plus"></i>&nbsp;<span translate>New user</span>
            </button>
          </div>
          <div class="col-xs-4">
          </div>
          <div class="col-xs-5" ng-attr-title="{{ 'Filter users' | translate }}">
            <div class="right-inner-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" ng-model="search" class="form-control form-control-search">
            </div>
          </div>  
        </div>
      </div>
    </form>

    <div ng-hide="printMode || addMode || editMode" class="scrollable" spring="footer">
      <table ng-table="tableParams" class="table">
        <tr>
          <th>
            <span ng-click="orderby = '-username'" ng-attr-title="{{ 'Name of the user' | translate }}" translate>Username</span>
            <a ng-click="orderby = 'username'"><small><i ng-show="orderby === '-username'" class="glyphicon glyphicon-chevron-up"></i></small></a>
            <a ng-click="orderby = '-username'"><small><i ng-show="orderby === 'username'" class="glyphicon glyphicon-chevron-down"></i></small></a>
          </th>
          <th class="phone-hide">
            <span ng-click="orderby = '-email'" ng-attr-title="{{ 'Email address of the user' | translate }}" translate>Email</span>
            <a ng-click="orderby = 'email'"><small><i ng-show="orderby === '-email'" class="glyphicon glyphicon-chevron-up"></i></small></a>
            <a ng-click="orderby = '-email'"><small><i ng-show="orderby === 'email'" class="glyphicon glyphicon-chevron-down"></i></small></a>
          </th>
          <th>
            <span ng-click="orderby = '-provider'" ng-attr-title="{{ 'Authentication provider for the user' | translate }}" translate>Provider</span>
            <a ng-click="orderby = 'provider'"><small><i ng-show="orderby === '-provider'" class="glyphicon glyphicon-chevron-up"></i></small></a>
            <a ng-click="orderby = '-provider'"><small><i ng-show="orderby === 'provider'" class="glyphicon glyphicon-chevron-down"></i></small></a>
          </th>
          <th class="tablet-hide">
             <span ng-attr-title="{{ 'Authentication id of the user' | translate }}" translate>Id</span>
          </th>
          <th>
            <span ng-attr-title="{{ 'Avatar image of the user' | translate }}" translate>Avatar</span>
          </th>
          <th>
            <span ng-attr-title="{{ 'Roles of the user: green color indicates permission for read and write, yellow means only read, blue only write, and read no permission. Sections are: \'u\' (users), \'c\' (customers), \'o\' (orders), \'s\' (service reports).' | translate }}" translate>Roles</span>
          </th>
          <th>
            <!-- command buttons -->
          </th>
        </tr>
        <tr ng-repeat="user in users | orderByPriority | filter:search | orderBy: orderby" ng-if="!user.hasOwnProperty('deleted')">
          <td ng-attr-title="{{ 'Name of the user' | translate }}" sortable="'username'" class="condensed">
            {{ user.username }}
          </td>
          <td ng-attr-title="{{ 'Email of the user' | translate }}" sortable="'email'" class="condensed phone-hide">
            {{ user.email }}
          </td>
          <td ng-attr-title="{{ 'Authentication provider for the user' | translate }}" sortable="'provider'" class="condensed">
            {{ user.provider }}
          </td>
          <td ng-attr-title="{{ 'Authentication id:' | translate }} {{ user.id }}" class="condensed tablet-hide">
            <div ng-bind-html="user.id.length > 5 ? user.id.substr(0, 5) + '&hellip;' : user.id"></div>
          </td>
          <td ng-attr-title="{{ 'Avatar image of the user' | translate }}" class="condensed">
            <img class="pic-circular-small" ng-src="{{ user.imageUrl }}" />
          </td>
          <td class="condensed">
            <span ng-repeat="role in roles">
              <span ng-class="{
                'role':     true,
                'role-rw':  user.roles[role.desc].read &&  user.roles[role.desc].write,
                'role-r':   user.roles[role.desc].read && !user.roles[role.desc].write,
                'role-w':  !user.roles[role.desc].read &&  user.roles[role.desc].write,
                'role-nn': !user.roles[role.desc].read && !user.roles[role.desc].write
              }" ng-attr-title="{{ userRoleDescription(user, role.desc) | translate }} {{ role.desc | translate }}">{{ role.key }}</span>
            </span>
          </td>
          <td class="condensed">
            <button
              ng-attr-title="{{'Edit user' | translate }}"
              class="btn btn-primary btn-xs glyphicon glyphicon-pencil"
              ng-disabled="!currentUserCanWrite()"
              ng-click="editUser(user)"
            ></button>
            <button
              ng-attr-title="{{'Print user' | translate }}"
              class="btn btn-primary btn-xs glyphicon glyphicon-print"
              ng-click="preprintUser(user)"
            ></button>
            <button
              ng-attr-title="{{ 'Delete user' | translate }}"
              class="btn btn-primary btn-xs glyphicon glyphicon-trash"
              ng-disabled="!currentUserCanWrite()"
              really-message="{{ 'Are you really sure to remove user' | translate }} <i>{{user.username}}</i> ?" really-click="deleteUser(user)"
            ></button>
          </td>
        </tr>
      </table>  
    </div>

    <form name="formAddEdit" ng-show="editMode" novalidate class="user form-horizontal">
      
      <div class="row" ng-attr-title="{{ 'User name' | translate }}">
        <div class="col-xs-8 col-sm-4 col-lg-3">
          <div class="form-group"
            ng-class="{ 'has-error':
              (formAddEditSubmitted && !formAddEdit.username.$valid) ||
              formAddEdit.username.$error.required ||
              formAddEdit.username.$error.invalid ||
              formAddEdit.username.$error.taken
            }">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="{{ 'User name' | translate }}" autofocus="editMode" autocomplete="off" check-user-name user-id="{{user.$id}}" required key-escape="cancelUser()" />
            </div>
            <div ng-messages="formAddEdit.username.$error" ng-show="formAddEditSubmitted" class="help-block help-block-small">
              <div ng-message="required"><span translate>A user name is required</span></div>
              <div ng-message="invalid"><span translate>This user name is not valid</span></div>
              <div ng-message="taken"><span translate>This user name is already in use</span></div>
            </div>
          </div>
        </div>
      </div>

<!--
      <div class="row" ng-attr-title="{{ 'User email address' | translate }}">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="form-group"
            ng-class="{ 'has-error':
              (formAddEditSubmitted && !formAddEdit.email.$valid) ||
              formAddEdit.email.$error.invalid
            }">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <input type="text" name="email" class="form-control" ng-model="user.email" placeholder="{{ 'Email address' | translate }}" autocomplete="off" check-email required key-escape="cancelUser()" />
            </div>
            <div ng-messages="formAddEdit.email.$error" ng-show="formAddEditSubmitted" class="help-block help-block-small">
              <div ng-message="required"><span translate>An email address is required</span></div>
              <div ng-message="invalid"><span translate>Email address is not valid</span></div>
            </div>
          </div>
        </div>
      </div>
-->
      <div class="row" ng-attr-title="{{ 'User email address' | translate }}">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <input type="text" name="email" class="form-control" ng-model="user.email" placeholder="{{ 'Email address' | translate }}" disabled />
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-attr-title="{{ 'Authentication provider' | translate }}">
        <div class="col-xs-10 col-sm-5 col-lg-3">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input type="text" name="provider" class="form-control" ng-model="user.provider" disabled />
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-attr-title="{{ 'Authentication id' | translate }}">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
              <input type="text" name="id" class="form-control" ng-model="user.id" disabled />
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-attr-title="{{ 'Avatar' | translate }}">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
              <input type="text" name="avatar" class="form-control" ng-model="user.imageUrl" key-escape="cancelUser()" />
              <span class="input-group-addon"><img class="pic-circular-small-input-group" ng-src="{{ user.imageUrl }}" /></span>
              <!-- TODO: enable user to choose her own avatar? If yes, oOnly web url or even image upload? ... -->
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-attr-title="{{ 'Roles' | translate }}">
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <div class="form-group">
            <div class="input-group" ng-attr-title="{{ 'Roles for this user; click to slide through all states (RW -> R -> W -> none)' | translate }}">
              <span class="input-group-addon"><span class="glyphicon glyphicon-cog"></span></span>
              <span class="input-group-addon"><input type="text" name="role-u" value="u" size="1" readonly="readonly"
                ng-class="
                {
                  'role':     true,
                  'role-rw':  user.roles['users'].read &&  user.roles['users'].write,
                  'role-r':   user.roles['users'].read && !user.roles['users'].write,
                  'role-w':  !user.roles['users'].read &&  user.roles['users'].write,
                  'role-nn': !user.roles['users'].read && !user.roles['users'].write,
                  'unselectable': true
                }"
                ng-attr-title="{{ userRoleDescription(user, 'users') | translate }} {{ 'users' | translate }}"
                ng-click="flipRole(user, 'users')"
                /></span>
              <span class="input-group-addon"><input type="text" name="role-c" value="c" size="1" readonly="readonly"
                ng-class="
                {
                  'role':     true,
                  'role-rw':  user.roles['customers'].read &&  user.roles['customers'].write,
                  'role-r':   user.roles['customers'].read && !user.roles['customers'].write,
                  'role-w':  !user.roles['customers'].read &&  user.roles['customers'].write,
                  'role-nn': !user.roles['customers'].read && !user.roles['customers'].write,
                  'unselectable': true
                }"
                ng-attr-title="{{ userRoleDescription(user, 'customers') | translate }} {{ 'customers' | translate }}"
                ng-click="flipRole(user, 'customers')"
                /></span>
              <span class="input-group-addon"><input type="text" name="role-o" value="o" size="1" readonly="readonly"
                ng-class="
                {
                  'role':     true,
                  'role-rw':  user.roles['orders'].read &&  user.roles['orders'].write,
                  'role-r':   user.roles['orders'].read && !user.roles['orders'].write,
                  'role-w':  !user.roles['orders'].read &&  user.roles['orders'].write,
                  'role-nn': !user.roles['orders'].read && !user.roles['orders'].write,
                  'unselectable': true
                }"
                ng-attr-title="{{ userRoleDescription(user, 'orders') | translate }} {{ 'orders' | translate }}"
                ng-click="flipRole(user, 'orders')"
                /></span>
              <span class="input-group-addon"><input type="text" name="role-s" value="s" size="1" readonly="readonly"
                ng-class="
                {
                  'role':     true,
                  'role-rw':  user.roles['servicereports'].read &&  user.roles['servicereports'].write,
                  'role-r':   user.roles['servicereports'].read && !user.roles['servicereports'].write,
                  'role-w':  !user.roles['servicereports'].read &&  user.roles['servicereports'].write,
                  'role-nn': !user.roles['servicereports'].read && !user.roles['servicereports'].write,
                  'unselectable': true
                }"
                ng-attr-title="{{ userRoleDescription(user, 'servicereports') | translate }} {{ 'servicereports' | translate }}"
                ng-click="flipRole(user, 'servicereports')"
                /></span>
            </div>
          </div>
        </div>
      </div>

      <div class="user row no-print" style="margin-top: 1.0em;">
        <div class="col">
          <button type="text" class="btn btn-primary" ng-click="submitUser()">
            <i class="glyphicon glyphicon-save"></i>&nbsp;<span translate>Save</span>
          </button>
          &emsp;
          <button type="text" class="btn btn-default" ng-click="cancelUser()">
            <i class="glyphicon glyphicon-remove"></i>&nbsp;<span translate>cancel</span>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>